* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html{
  font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
  color: var(--heading-color);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
h1{
  font-size: 3.2rem;
}
p,li,span,a{
  color: var(--para-color);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}


/* theme */
:root{
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #212121;
  --h-color: #0a043c;
  --white-color: #ffffff;
  --test: #070101;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.24) 0px 7px 29px 0px;
}

/* layout */
.container{
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}
.grid{
  display: grid;
  gap: 9.6rem;
}
.grid-two-column{
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-column{
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-column{
  grid-template-columns: 1fr 1.2fr .5fr .8fr;
}
.grid-five-column{
  grid-template-columns: repeat(5, 1fr);
}
.grid-six-column{
  grid-template-columns: repeat(6, 1fr);
}
